<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <p>You have received a request for information from, <strong><%= "#{ @first_name } #{ @last_name }" %></strong> on <strong><%= "#{Date.today.strftime("%B %e, %Y")}" %></strong></p>
    <br>
    <h3>Contact Information</h3>
    <p>First Name: <strong><%= "#{@first_name}" %></strong></p>
    <p>Last Name: <strong><%= "#{@last_name}" %></strong></p>
    <p>Email: <strong><%= "#{@email}" %></strong></p>
    <p>Phone: <strong><%= "#{number_to_phone(@phone, area_code: true)}" %></strong></p>
    <br>
    <p>Message: <strong><%= "#{@message}" %></strong></p>
  </body>
</html>